* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.header-logo {
    width: 200px;
}

.header-navigation-list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 70px;
    font-size: 20px;
    list-style: none;
}

.list-item {
    text-decoration: none;
    font-weight: bold;
    color: rgb(106, 99, 99);
}

.list-item:hover {
    color: rgb(21, 83, 207);
}

.main {
    padding: 10px 130px 0;
}

.main-product {
    display: flex;
    justify-content: space-between;
}

.main-img-info {
    width: 570px;
}

.main-text {
    font-size: 25px;
    padding-top: 10px;
}

.main-img {
    width: 650px;
}

.product-examples {
    display: flex;
    justify-content: space-around;
}

.photos-other-products {
    width: 350px;
    padding-top: 20px;
}

.other-text {
    font-size: 20px;
    padding-top: 10px;
}