*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 150px;
    background-color:#177165;
        border-bottom: 1px transparent white;
}
.nav{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
ul{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
ul li a{
    color: #A4D6CF;
    text-decoration: none;
    transition: 0.4s all ease;
}
ul li a:hover{
    color: white;
}
.number_container{
    width: 160px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
}
.Garden{
    width: 100%;
    height: 750px;
    border-top: 1px dashed white;
    background-color: #177165;
    display: flex;
    justify-content: center;
}
.Garden_container{
    width: 75%;
    height: 100%;
    display: flex;
}
.left h1{
    font-size: 60px;
    color: white;  

}
.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
}


.about{
    width: 100%;
    height: 1400px;

    background-color: #ffffff;

    display: flex;
    justify-content: center;

    margin-top: 120px;
    padding: 60px;

    border-top: 1px dashed #777777;
}

.about_container{
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;


}


.text{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;


}

.zagalovok{
    width: 70%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: baseline;

    color: #177165;
    font-size: 48px;
}


.image_text{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text2{
    width: 500px;
    height: 726px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}


.question{
    color: #177165;
    font-size: 32px;
}

.textp{
    font-family: 'Segoe UI', Roboto;
    font-size: 16px;
    color: #777777;
}

.texth{
    color: #177165;
    font-size: 22px;
}

.lernmore{
    width: 212px;
    height: 44px;

    appearance: none;
    border: 1px solid #177165;
    border-radius: 0%;

    background: #ffffff;
    color:#177165;

    transition: 0.4s all ease;
}

.lernmore:hover{
    background: #177165;
    color:#ffffff;
}

.title {
    width: 1200px;
    margin: 0 auto; 
}

.Our_services {
    margin-top: 100px;
    background-color: rgba(66, 153, 144, 0.644);
}

.p-our_services{
    font-size: 17px;
    line-height: 29.25px;
    color: rgb(66, 63, 63);
    padding-top: 7%;
}

.header_services {
    font-size: 48px;
    line-height: 57.6px;
    color: rgba(23, 113, 101, 1);
}

.types_services {
    display: flex;
    justify-content: center;
    gap: 49.5px;
    width: 100%;
    margin-top: 2%;
}

div article img {
    width: 300px;
    height: 300px;
}

article p {
    margin-top: 17%;
}

article h3 {
    font-size: 22px;
    line-height: 35.75px;
    color: rgba(23, 113, 101, 1);
    margin-top: 4%;
}

article {
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.more-info {
    background-color: transparent;
    margin: 3% 0;

}
.intro_video{
    width: 100%;
    height: 415px;
    background-color: #177165;
}
.intro_video_container{
    width: 55%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.intro_video_left h4{
    color: #A4D6CF;
    margin-top: 5%;
    font-size: 17px;
    line-height: 1.6;
}
.intro_video_left h1{
    width: 70%;
    font-size: 48px;
    color: white;
}
.main_info{
    width: 55%;
    height: 230px;
    background-color: #E1F4F2;
    margin: 5% auto;
}
.main_info_container{
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main_info_container h1{
    font-size: 45px;
    color: #177165;
    margin-top: 10%;
}
.main_info_container h4{
    color: #777777;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10%;
}
.projects_done{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.happy_client{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}.team_member{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}.winning-award{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
.list_images{
    width: 100%;
    height: 1600px;
}
.list_images_container{
    height: 1300px;
    width: 55%;
    margin: 0 auto;
}
.top_side{
    height: 50%;
    width: 100%;
    background-image: url(./list_images/list_image1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: end
}
.first_image{
    width: 25%;
    height: 65%;
    display: flex;
    align-items: center;
    background-color: #177165;
}
.first_image h1{
    font-size: 22px;
    color: #FFFFFF;
    line-height: 1.7;
}
.first_image h3{
    font-size: 15px;
    color: #A4D6CF;
    line-height: 1.7;
    margin-top: 13%;
}
.text_container{
    width: 55%;
    margin: 0 auto;
}
.explore p:hover, .information p:hover, .service p:hover{
    color: white;
}
.right_footer {
    width: 350px;
    background-color: #23786D;
    padding: 40px;
}
.right_footer img{
    width: 120px;
    margin-bottom: 25px;
}
.right_footer p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.number_container{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.number_container img{
    width: 48px;
    height: 48px;
}
.callus h1{
    color: #A4D6CF;
    font-size: 14px;
    margin-bottom: 0;
}
.callus_all p{
    color: white;
}
.bot_footer{
    width: 100%;
    background-color: #0A312C;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}
.bot_footer h2{
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 4px;
}
.bot_footer h3{
    color: #A4D6CF;
    font-size: 16px;
    font-weight: 600;
} display: flex;
    flex-direction: column;
}
.buttons_side{
    display: flex;
    width: 20%;
    margin-top: 4%;
    justify-content: space-between;
}
.buttons_side button{
    color: #135c52;
    padding: 14px 22px;
    font-size: 36px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-style:groove;
    border-color:#A4D6CF;
    height: auto;
}
.buttons_side button:hover{ 
    background-color: #b5d8d3;
}
.second_top_side{
    height: 50%;
    width: 100%;
    background-image: url(./list_images/list_image2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}
.text_container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.sec_text_container{
    width: 65%;
    margin: 0 auto;
}
.happy_clients{
    width: 100%;
    height: 1100px;
    background-color: #E1F4F2;
}
.main_happy_clients{
    width: 55%;
    margin: 0 auto;
}
.main_name_happy_clients h4{
    color: #777777;
    font-size: 18px;
    line-height: 1.6;
    padding-top: 10%;
}
.main_name_happy_clients h1{
    color: #177165;
    font-size: 48px;
    line-height: 1.6;
    margin-top: 1%;
    margin-bottom: 4%;
}
.menu{
    width: 30%;
    height: 40%;
    background-color: white;
}
.many_menu{
    display: flex;
    justify-content: space-between;
}
.menu h1{
    color: #177165;
    font-size: 26px;
    line-height: 1.4;
    margin-top: 4%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
}
.menu h2{
    color: #177165;
    font-size: 26px;
    line-height: 1.4;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}
.menu h4{
    color: #777777;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}
.latest_news{
    width: 100%;
    height: 1100px;
    align-content: center;
}
.inline-element{
    display: inline;
}
.main_latest_news{
    width: 55%;
    margin: 0 auto;
    align-content: center;
}
.upper_side_news{
    margin-bottom: 4%;
}
.upper_side_news h4{
    color: #777777;
    font-size: 18px;
}
.upper_side_news h1{
    color: #177165;
    font-size: 48px;
    margin-top: 2%;
}
.panels{
    display: flex;
    justify-content: space-between;
}
.panel{
    width: 555px;
    background-color: #E1F4F2;
}
.panels h3{
    color: #177165;
    font-size: 16px;
    margin-right: 4px;
}
.panel p{
    color: #777777;
    font-size: 15px;
    margin-bottom: 8%;
}
.panel h1{
    color: #177165;
    font-size: 25px;
    margin-bottom: 4%;
}
.first_text_panel{
    margin: 5% 4%;
}
.second_text_panel{
    margin: 0 4%;
}
.panel button{
    background-color: #ffffff;
    color: #135c52;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.4s ease;
    border-style: none;
    margin-bottom: 8%;
    margin-left: 4%;
}
.panel button:hover{
    background-color: #135c52;
    color: white;
}
.badges{
    width: 100%;
    height: 320px;
    background-color: #E1F4F2;
    align-content: center;
}

.images_badges{
    width: 55%;
    height: 120px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}.footer{
    width: 100%;
    background-color: #177165;
    padding-top: 80px;
}
.up_footer{
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.left_footer{
    display: flex;
    gap: 80px;
}
.explore, .information, .service{
    display: flex;
    flex-direction: column;
}
.explore h1, .information h1, .service h1{
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}
.explore p, .information p, .service p{
    color: #A4D6CF;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.4s ease;
